<a href="https://colab.research.google.com/github/sanjibsinha/python-primer/blob/type/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.core.interactiveshell import Integer
a_number = 230
print(a_number, "is of type", type(a_number))

a_number = 222.0
print(a_number, "is of type", type(a_number))

a_number = 895
print(a_number, "is an integer?", isinstance(895, Integer))

230 is of type <class 'int'>
222.0 is of type <class 'float'>
895 is an integer? False

In [ ]:
a_number = 89
print(a_number, "is an integer?", isinstance(895, int))

89 is an integer? True

In [ ]:
a_string = 'I am a sequence of Unicode characters.'
print(a_string, "is a string?", isinstance(895, str))

I am a sequence of Unicode characters. is a string? False

In [ ]:

a_string = 'I am a sequence of Unicode characters.'

print(a_string, "is of type", type(a_string))

I am a sequence of Unicode characters. is of type <class 'str'>

In [ ]:
a_string = 'I am a sequence of Unicode characters.'
print(a_string, "is a string?", isinstance('I am a sequence of Unicode characters.', str))

I am a sequence of Unicode characters. is a string? True

In [ ]:
a_multiline_string = '''I am a multi line
string.
Each line is 
a new line.'''

print(a_multiline_string)

I am a multi line
string.
Each line is
a new line.

In [2]:
a_list_of_names = ['John', 'Json', 'Cath', 'James', 'Mary']


print(a_list_of_names)

print(a_list_of_names[0])

print(a_list_of_names[0 : 2])

print(a_list_of_names[2 :])

a_list_of_names[2] = 'Emma'

print(a_list_of_names[2])

print(a_list_of_names)

print(a_list_of_names, "is of type", type(a_list_of_names))

print(a_list_of_names, "is a list?", isinstance(a_list_of_names, list))

['John', 'Json', 'Cath', 'James', 'Mary']
John
['John', 'Json']
['Cath', 'James', 'Mary']
Emma
['John', 'Json', 'Emma', 'James', 'Mary']
['John', 'Json', 'Emma', 'James', 'Mary'] is of type <class 'list'>
['John', 'Json', 'Emma', 'James', 'Mary'] is a list? True

In [ ]:
a_tuple_of_names = ('John', 'Json', 'Cath', 'James', 'Mary')

print(a_tuple_of_names[0 : 2])

a_tuple_of_names[0] = 'Json'

('John', 'Json')

TypeError: ignored

In [1]:
a_set_of_names = {'John', 'Json', 'Cath', 'James', 'Mary'}

# printing set variable
print("a_set_of_names = ", a_set_of_names)

# data type of variable a
print(type(a_set_of_names))

a_set_of_names =  {'Cath', 'Mary', 'Json', 'John', 'James'}
<class 'set'>

In [3]:
print(a_set_of_names[0])

TypeError: ignored

In [5]:
a_dictionary_of_names = {1:'John', 2: 'Json', 3:'Cath', 4:'James', 5:'Mary'}

print(type(a_dictionary_of_names))

<class 'dict'>

In [6]:
a_dictionary_of_names[1]

'John'