<a href="https://colab.research.google.com/github/sanjibsinha/python-primer/blob/type/docstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def add(num1, num2):
  '''Add two numbers and return the addition'''
  return num1 + num2

print(add.__doc__)

Add two numbers and return the addition

In [6]:
print(add(10, 20))

30

In [7]:
import math

print(math.__doc__)

This module provides access to the mathematical functions
defined by the C standard.

In [10]:
def add_three_numbers(num1, num2, num3):
  '''
  This function returns the sum of three decimal numbers.

  We have two Parameters:
  num1 (int): A decimal integer
  num2 (int): Another decimal integer
  num3 (int): Another decimal integer

  What it Returns:
  the addition of num1, num2 and num3

  '''
  
  return num1 + num2 + num3

print(add_three_numbers.__doc__)

  This function returns the sum of three decimal numbers.

  We have two Parameters:
  num1 (int): A decimal integer
  num2 (int): Another decimal integer
  num3 (int): Another decimal integer

  What it Returns:
  the addition of num1, num2 and num3

In [11]:
print(add_three_numbers(10, 20, 30))

60

In [12]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.