<a href="https://colab.research.google.com/github/sanjibsinha/python-primer/blob/type/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first = 989
second = 456


add = first + second

subtract = first - second

multiply = first * second


division_one = first / second


division_two = first // second


modular = first % second


power = first ** second


print(add)
print(subtract)
print(multiply)
print(division_one)
print(division_two)
print(modular)
print(power)

1445
533
450984
2.168859649122807
2
77
6449246376215082982539402970687909670095325611372845123844127982752274151695898177252955195967945981221813042671899247833442088732791270603746710961016584134191699091171175460450823610547693787350240619455929337082769717292639799800138493003473467337835483542778720479201140517585402308509689224324599692917921079255748677905911359770815574268603001630880294146184321052258410645941057809435219800421873232328816326237270903306466505523369690935347793746334354132618519561361276706943186952046542143393210388932682677795280143207216294608578797800557551680850972251333178463257388525198393233670102575328829089039651799997435226911640253919445290280693754472513055031521248112015531513166700403527209429917619712646215806692193308949051929420240960998906891701945795449575557676872900318012746015994330419915059725078714576671260301220883597816175682631214852187646035976200591604461688433536658615765829206202153902890662294957389906274835284217874380866889622712826869352216415218840046704475459622654322393280359805946664780893093597168871800817930561447915485621007207609942104117952510144618748080893178846131595951031518441169081367527116050155049049745466754489305826763586479446627578186122991557392624656692060138531221078447513491136888470270112415022903958978903116823556380387776106864540882930253473414586754906883238764407881972326766887830304543942561

In [ ]:
first = 1323
second = 133

print(first > second)

print(first < second)

print(first == second)

print(first != second)

print(first >= second)

print(first <= second)

True
False
False
True
True
False

In [ ]:
first = 1
second = 2


print('first > second is',first > second)


print('first < second is',first < second)


print('first == second is',first == second)


print('first != second is',first != second)


print('first >= second is',first >= second)


print('first <= second is',first <= second)

first > second is False
first < second is True
first == second is False
first != second is True
first >= second is False
first <= second is True

In [2]:
first = 1
second = 2


print(f'{first} > {second} is {first > second}')


print(f'{first} < {second} is {first < second}')


print(f'{first} == {second} is {first == second}')

print(f'{first} != {second} is {first != second}')


print(f'{first} >= {second} is {first >= second}')


print(f'{first} <= {second} is {first <= second}')

1 > 2 is False
1 < 2 is True
1 == 2 is False
1 != 2 is True
1 >= 2 is False
1 <= 2 is True

In [ ]:
true = True
false = False

print(f'true and false is {true and false}')

print(f'true or false is {true or false}')

print(f'not true is {not true}')

true and false is False
true or false is True
not true is False

In [ ]:
first = 1
second = 2
third = 'John'
fourth = 'John'
fifth = [1,2,33, 68]
sixth = [1,2,3]


print(first is not second)


print(third is fourth)

# 
print(fifth is sixth)

True
True
False