<a href="https://colab.research.google.com/github/sanjibsinha/python-primer/blob/type/Python_i_o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'John'
print('The name is', name)

The name is John

In [ ]:
print(f'The name is {name}')

The name is John

In [ ]:
print('The name is {}'.format(name))

The name is John

In [ ]:
print('The name is {name} '.format(name = 'Json'))

The name is Json

In [7]:
name = 'John'
print('The name is %s' %name) # string

The name is John

In [2]:
a_number = 20364

print('The name is %2d' %a_number) # decimal number

The name is 20364

In [14]:
a_float = 200.36987

print('The number is %2.1f' %a_float) # flaoting point number with length value 2.1 f
print('The number is %.3f' %a_float) # flaoting point number with length value 2.3 f

The number is 200.4
The number is 200.370

In [ ]:
import math

print(math.ceil(20.1))

21